<ion-view view-title="About">
  <!--<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>-->
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-chevron-left" ng-click="close()">&nbsp;Home&nbsp;</button>
  </ion-nav-buttons>
<!--  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-share" ng-click="openRightMenu()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-clear button-primary" ng-click="close()"></button>
  </ion-nav-buttons>
-->

  <ion-content class="padding has-header tab-info about">
    <p>About Us.</p>

    <hr/>
    <p>Here we are</p>

  </ion-content>

</ion-view>