<ion-view view-title="Login">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-share" ng-click="openRightMenu()"></button>
  </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <img src="img/logo1.png" class="logo">
            <div class="logoText">
                myChat
            </div>
        </div>
        <div class="list card padding">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.pwdForLogin">
            </label>
            <button ng-click="signIn(user)" class="button button-block button-positive activated">
                Sign In
            </button>
        </div>
        <div class="list" style="text-align:center">
            <button ng-click="modal.show()" class="button button-small button-outline icon-left ion-person-add button-positive">
                Create New Account
            </button>
        </div>
    </ion-content>
</ion-view>